.Base1{
    color: var(--Text, #030229);
font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.listItems{
    color: #9A9AA9;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}

.highlight{
    color: #605BFF;
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}